@page {
    margin: 0;
    size: 2.8in 22in;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 62.5%;
}
body {
    font-family: Sans-serif;
    height: 100%;
}
footer {
    clear: both;
    text-align: center;
}

label {
    line-height: 1.2;
}

.company-name {
    font-size: 6.35pt;
    margin: 0 auto;
    margin-bottom: 3px;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}
.company-name p {
    margin: 0;
}

.ticket-font-amount {
    font-size: 8pt;
    margin: 0 auto;
}

.ticket-font-amount-change {
    font-size: 1.5rem;
    margin: 0 auto;
}

.ticket-box-change {
    font-weight: bold;

}

.form-title{
    background-color: black;
    color: white;
    font-size: 8pt;
    padding: 2pt 0;
    text-align: center;
    vertical-align: middle;
}

.img-div {
    height: 2.5cm;
    width: 100%;
}
.img-div img {
    padding-left: 0.35cm;
    width: 85%;
}
.inputs {
    width: 100%;
    margin-bottom: 3px;
}
.main-body {
    width: 100%;
}

.title-input {
    font-size: 11px;
    clear: both;
    width: 100%;
}

.row .label, .row .value {
    display: inline-block;
    width: 49%;
    text-align: right;
}
.row, .bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1pt;
}
.bottom-row {
    margin-top: 0.1cm;
}
.footer-advise {
    font-size: 5.3pt;
    margin: 0;
    width: 100%;
    text-align: left;
}
.footer-advise span {
    text-transform: uppercase;
}
.ticket-box {
    border-bottom: 0.5px solid black;
    padding: 2pt 0; 
}

#formatted-date {
    text-transform: lowercase;
}
.ad-image {
    width: 100%;
}